body{
    background-image: url('background.png');
    font-family: 'Lucida Sans', 'Lucida Sans Regular';

}
header{
    text-align: center;
}

.card-deck{
    padding-top:30px;
}
.card-body{
    background-color: black;
    color: white;
}


.homebtn {
    background-color:black;
    color: white;
    padding: 12px 16px;
    font-size: small;
    cursor: pointer;
    position:absolute;
    top:0;
    left:0;
  }
